@import url(./small.css);
@import url(./medium.css) screen and (min-width: 576px);
@import url(./large.css) screen and (min-width: 768px);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url(./utils.css);

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0e0e0e;
  color: #ccc;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}
